name: docker build

on:
  push:
# TODO rework in a later commit
#    branches: [ master ]

jobs:
  docker:
    name: docker build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install system dependencies
      run: |
        sudo apt install -yq python3-pip
        python3 -m pip install setuptools_scm
    - name: Extract Labgrid version from scm
      id: labgrid-version
      # TODO version `0.1.dev1-g2bd3f48` is wrong ?
      run: echo "VERSION=$(python -m setuptools_scm)" >> $GITHUB_OUTPUT
      #run: echo "VERSION=0.4" >> $GITHUB_OUTPUT

# TODO add qemu when multiplatform
#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v2

    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

# TODO does the base image get cached?
# TODO add meta step in a later commit to build branches
# TODO add tags: ${{ steps.meta.outputs.tags }} & labels: ${{ steps.meta.outputs.labels }}
# TODO push after running tests?

    - name: Build labgrid-client docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_PREFIX }}client:latest
        build-args: |
          VERSION=${{ steps.labgrid-version.outputs.VERSION }}
        file: dockerfiles/Dockerfile
        target: labgrid-client

    - name: Build labgrid-exporter docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_PREFIX }}exporter:latest
        build-args: |
          VERSION=${{ steps.labgrid-version.outputs.VERSION }}
        file: dockerfiles/Dockerfile
        target: labgrid-exporter

    - name: Build labgrid-coordinator docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_PREFIX }}coordinator:latest
        build-args: |
          VERSION=${{ steps.labgrid-version.outputs.VERSION }}
        file: dockerfiles/Dockerfile
        target: labgrid-coordinator

    - name: Check docker images
      run: |
        docker images

#    - name: Build docker image
#      run: |
#        ./dockerfiles/build.sh
#        docker-compose -f dockerfiles/staging/docker-compose.yml up --exit-code-from client client
#        docker-compose -f dockerfiles/staging/docker-compose.yml down
#        docker images
#        docker tag labgrid-client ${{ secrets.DOCKERHUB_PREFIX }}client
#        docker tag labgrid-exporter ${{ secrets.DOCKERHUB_PREFIX }}exporter
#        docker tag labgrid-coordinator ${{ secrets.DOCKERHUB_PREFIX }}coordinator
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}client
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}exporter
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}coordinator
#        docker images
