name: docker build

on:
  push:
# TODO rework in a later commit
#    branches: [ master ]

# TODO build labgrid-base & cache it in separate job
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - labgrid-client
          - labgrid-exporter
          - labgrid-coordinator
    steps:
    - uses: actions/checkout@v3
    - name: Install system dependencies
      run: |
        sudo apt install -yq python3-pip
        python3 -m pip install setuptools_scm
    - name: Extract Labgrid version from scm
      id: labgrid-version
      # TODO version `0.1.dev1-g2bd3f48` is wrong ?
      run: echo "VERSION=$(python -m setuptools_scm)" >> $GITHUB_OUTPUT
      #run: echo "VERSION=0.4" >> $GITHUB_OUTPUT

# TODO add qemu when multiplatform
#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v2

# TODO buildx may not be needed
#    - name: Setup Docker buildx
#      uses: docker/setup-buildx-action@v2

# TODO uncomment
#    - name: Login to DockerHub
#      uses: docker/login-action@v2
#      with:
#        username: ${{ secrets.DOCKERHUB_USERNAME }}
#        password: ${{ secrets.DOCKERHUB_TOKEN }}

# TODO add meta step

# TODO set tags to labgrid-<target>
    - name: Build ${{ matrix.target }} docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        # TODO change to true
        push: false
        # TODO check tags / labels
        #tags: ${{ steps.meta.outputs.tags }}
        #labels: ${{ steps.meta.outputs.labels }}
        build-args: |
          VERSION=${{ steps.labgrid-version.outputs.VERSION }}
        file: dockerfiles/Dockerfile
        target: ${{ matrix.target }}
        # TODO use cache from prev stage
        #cache-from: type=local,src=/tmp/.build-cache

#    - name: Build docker image
#      run: |
#        ./dockerfiles/build.sh
#        docker-compose -f dockerfiles/staging/docker-compose.yml up --exit-code-from client client
#        docker-compose -f dockerfiles/staging/docker-compose.yml down
#        docker images
#        docker tag labgrid-client ${{ secrets.DOCKERHUB_PREFIX }}client
#        docker tag labgrid-exporter ${{ secrets.DOCKERHUB_PREFIX }}exporter
#        docker tag labgrid-coordinator ${{ secrets.DOCKERHUB_PREFIX }}coordinator
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}client
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}exporter
#        docker push ${{ secrets.DOCKERHUB_PREFIX }}coordinator
#        docker images
